@model UniGradeWebApp.Subject

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>Дисципліна</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SbjName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SbjName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SbjTeach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SbjTeach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SbjCathNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SbjCathNavigation.CathName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SbjId">Змінити</a> |
    @Html.ActionLink("Назад до дисциплін кафедри", "Index", new {id = @ViewBag.CathId, name = @ViewBag.CathName})
</div>
