@model IEnumerable<UniGradeWebApp.Subject>

@{
    ViewData["Title"] = "Предмети за кафедрою";
}

<h1>Предмети за кафедрою @ViewBag.CathName </h1>

<p>
    @Html.ActionLink("Додати новий предмет", "Create", new {CathId = @ViewBag.CathId})
</p>
<p>
    @Html.ActionLink("Повернутись до списку кафедр", "Index", "Cathedras", new {id = @ViewBag.FacId, name = @ViewBag.FacName})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SbjName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SbjTeach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SbjName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SbjTeach)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SbjId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.SbjId">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.SbjId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
