@model IEnumerable<UniGradeWebApp.Subject>

@{
    ViewData["Title"] = "Предмети за кафедрою";
}

<h1>Предмети за кафедрою @ViewBag.CathName </h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
    @Html.ActionLink("Додати новий предмет", "Create", new {CathId = @ViewBag.CathId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SbjName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SbjTeach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SbjCathNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SbjName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SbjTeach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SbjCathNavigation.CathName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SbjId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SbjId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SbjId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
