@model UniGradeWebApp.Student

@{
    ViewData["Title"] = "Create";
}

<h1>Додавання студента до групи @ViewBag.GrpName</h1>

<h4>Студент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StnFullName" class="control-label"></label>
                <input asp-for="StnFullName" class="form-control" />
                <span asp-validation-for="StnFullName" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewBag.GrpId" name="GrpId" />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Назад до студентів групи", "Index", new {id = @ViewBag.GrpId, name = @ViewBag.GrpName, enrollmentyear = @ViewBag.GrpEnrollmentYear})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
