@model UniGradeWebApp.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ви впевені що хочете видалити дані цього студента?</h3>
<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StnFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StnFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StnGrpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StnGrpNavigation.GrpName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StnGrpNavigation.GrpEnrollmentYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StnGrpNavigation.GrpEnrollmentYear)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StnId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        @Html.ActionLink("Назад до студентів групи", "Index", new {id = @ViewBag.GrpId, name = @ViewBag.GrpName})
        <h5 class="text-danger">@ViewBag.ErrMessage</h5>
    </form>
</div>
