@model IEnumerable<UniGradeWebApp.Student>

@{
    ViewData["Title"] = "Студенти за групою";
}

<h1>Студенти за групою @ViewBag.GrpName, @ViewBag.GrpEnrollmentYear року</h1>

<p>
    @*<a asp-action="Create" asp-route-id="@ViewBag.GrpId">Додати нового студента</a>*@
    @Html.ActionLink("Додати нового студента", "Create", new {GrpId = @ViewBag.GrpId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StnFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StnFullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StnId">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.StnId">Бали</a> |
                <a asp-action="Delete" asp-route-id="@item.StnId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
