@model IEnumerable<UniGradeWebApp.Student>

@{
    ViewData["Title"] = "Студенти за групою";
}

<h1>Студенти за групою @ViewBag.GrpName @ViewBag.GrpEnrollmentYear</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.GrpId">Додати нового студента</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StnFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StnGrpNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StnFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StnGrpNavigation.GrpId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StnId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StnId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
