@model UniGradeWebApp.Group

@{
    ViewData["Title"] = "Create";
}

<h1>Додавання групи до кафедри @ViewBag.CathName</h1>

<h4>Група</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GrpName" class="control-label"></label>
                <input asp-for="GrpName" class="form-control" />
                <span asp-validation-for="GrpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrpEnrollmentYear" class="control-label"></label>
                <input asp-for="GrpEnrollmentYear" class="form-control" />
                <span asp-validation-for="GrpEnrollmentYear" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewBag.CathId" name="CathId" />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Назад до груп кафедри", "Index", new {id = @ViewBag.CathId, name = @ViewBag.CathName})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
