@model IEnumerable<UniGradeWebApp.Group>

@{
    ViewData["Title"] = "Групи за кафедрою";
}

<h1>Групи за кафедрою @ViewBag.CathName </h1>

<p>
    @Html.ActionLink("Додати нову групу", "Create", new {CathId = @ViewBag.CathId})
</p>
<p>
    @Html.ActionLink("Повернутись до списку кафедр", "Index", "Cathedras", new {id = @ViewBag.FacId, name = @ViewBag.FacName})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrpEnrollmentYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrpEnrollmentYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GrpId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.GrpId">Студенти</a> |
                <a asp-action="Delete" asp-route-id="@item.GrpId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div id="chart2"></div>
</div>
@section scripts{
    <script type "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            $.get('/api/Chart/JsonGroupGradeData', { CathId : @ViewBag.CathId}, function (JsonGroupGradeData) {
                data = google.visualization.arrayToDataTable(JsonGroupGradeData, false);
                var option = {
                    title: "Співвідношення груп по середніх балах",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}