@model IEnumerable<UniGradeWebApp.Faculty>

@{
    ViewData["Title"] = "Факультети";
}

<h1>Факультети</h1>

<p>
    <a asp-action="Create">Додати новий факультет</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacFoundingYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacFoundingYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.FacId">Кафедри</a> |
                <a asp-action="Delete" asp-route-id="@item.FacId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
