@model UniGradeWebApp.Grade

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ви певні що хочете видалити цей бал?</h3>
<div>
    <h4>Бал</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrdResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrdResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrdSbjNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrdSbjNavigation.SbjName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrdStnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrdStnNavigation.StnFullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GrdId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        @Html.ActionLink("Назад до оцінок студента", "Index", new {id = @ViewBag.StnId, name = @ViewBag.StnFullName})
    </form>
</div>
