@model IEnumerable<UniGradeWebApp.Grade>

@{
    ViewData["Title"] = "Бали студента";
}

<h1>Бали студента @ViewBag.StnFullName</h1>

<p>
    @*<a asp-action="Create" asp-route-id="@ViewBag.StnId">Додати новий бал</a>*@
    @Html.ActionLink("Додати новий бал", "Create", new {StnId = @ViewBag.StnId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrdResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrdSbjNavigation.SbjName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrdResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrdSbjNavigation.SbjName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GrdId">Змінити</a> |
                <a asp-action="Delete" asp-route-id="@item.GrdId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
