@model UniGradeWebApp.Cathedra

@{
    ViewData["Title"] = "Create";
}

<h1>Додавання кафедри до факультету @ViewBag.FacName</h1>

<h4>Кафедра</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CathName" class="control-label"></label>
                <input asp-for="CathName" class="form-control" />
                <span asp-validation-for="CathName" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewBag.FacId" name="FacId" />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Назад до кафедр факультету", "Index", new {id = @ViewBag.FacId, name = @ViewBag.FacName})
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
