@model UniGradeWebApp.Cathedra

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ви впевнені що хочете видалити цю кафедру?</h3>
<div>
    <h4>Кафедра</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CathName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CathName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CathFacNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CathFacNavigation.FacName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CathId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        @Html.ActionLink("Назад до кафедр факультету", "Index", new {id = @ViewBag.FacId, name = @ViewBag.FacName})
    </form>
</div>
